data/
output/
pipelines/
lib/RASflow.git
lib/seqQscorer.git
.snakemake
README.html
old/
.Rhistory
*.bam.mapping.bed
*.bam.mapping_1M.bed
arch/
report.html
summary.html
report/summary/summary.html
report/summary/summary.pdf
.Rhistory
*~
.Rproj.user
*.pdf
*.zip
